<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS</title>


</head>
{{template "header" .}}

<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {{range .rss}}
                    <input type="button" id={{.Link}} value={{.Title}} onclick="buttonClick(this.id)"
                        class="list-group-item list-group-item-action">
                    {{end}}
                </ul>
            </div>
            <div class="col-9">
                <iframe id="link" width="100%" height="150%"></iframe>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script>
        function buttonClick(id) {
            var elm = document.getElementById("link");
            elm.src = id
        }
    </script>

</body>

</html>